In [52]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
pd.set_option('display.max_columns', 22)

In [86]:
df=pd.read_csv('home_data.csv')
df.shape

(21613, 21)

In [11]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Average price

In [84]:
np.mean(df['price'])

540088.1419053348

# Filtering data

In [68]:
# fraction of the houses have living space between 2000 sq.ft. and 4000 sq.ft.

s=df[(df['sqft_living']>2000) & (df['sqft_living']<=4000)]
print(len(s)/len(df))

0.09276824133623282
0.18507379817702307
0.42187572294452413

# Building a regression model with several more features

In [91]:
from sklearn.model_selection import train_test_split
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

x_train, x_test ,y_train, y_test = train_test_split(df[my_features],df['price'],test_size =0.2,random_state=0)
model1=LinearRegression()

model1.fit(x_train,y_train)

y_pred=model1.predict(x_test)
a=np.sqrt(mean_squared_error(y_test,y_pred))
print(a)

244004.77443104205

In [34]:
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', 
'grade', 
'waterfront',
'view',
'sqft_above', 
'sqft_basement', 
'yr_built', 
'yr_renovated', 
'lat', 'long', 
'sqft_living15', 
'sqft_lot15', 
]

In [92]:
x_train, x_test ,y_train, y_test = train_test_split(df[advanced_features],df['price'],test_size =0.2,random_state=0)

model2= LinearRegression()

model2.fit(x_train,y_train)

# model2.score(x_test,y_test)

# x_train['price']

y_pred=model2.predict(x_test)

b=np.sqrt(mean_squared_error(y_test,y_pred))
print(b)

190473.37570967907