In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',500)
df = pd.read_csv('people_wiki.csv')

In [2]:
df.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

## word count

In [3]:
from collections import Counter
import string
def punct_strip(word):
    for i in string.punctuation:
         word = word.replace(i, '')
    return word

In [4]:
df['word_count']=df['text'].apply(lambda x: Counter(punct_strip(x).lower().split()) if type(x)==str else 'k')

In [5]:
df.head()

,URI,name,text,word_count
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...,"{'digby': 1, 'morrell': 5, 'born': 1, '10': 1,..."
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...,"{'alfred': 1, 'j': 1, 'lewy': 3, 'aka': 1, 'sa..."
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...,"{'harpdog': 2, 'brown': 2, 'is': 7, 'a': 7, 's..."
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...,"{'franz': 1, 'rottensteiner': 3, 'born': 1, 'i..."
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...,"{'henry': 1, 'krvits': 1, 'born': 1, '30': 1, ..."

## spliting word count column by key and value

In [6]:
elton = df[df['name']=='Elton John']
elton_count = pd.json_normalize(elton['word_count'])
# elton_count.sort_values()
elton_count=elton_count.unstack()
elton_count=pd.DataFrame(elton_count,columns=['1'])
elton_count=elton_count.reset_index()
elton_count.columns=['word','d','count']
elton_count=elton_count.drop(['d'],axis=1)
elton_count.sort_values("count",ascending=False).head(3)

   word  count
56  the     27
60   in     18
21  and     15

## TF-IDF

In [ ]:
# def tf(text):
#     v=TfidfVectorizer()

In [28]:
# from sklearn.feature_extraction.text import TfidfVectorizer

# e_john=df[df['name']=='Elton John']

# v =  TfidfVectorizer()

# transormed = v.fit_transform(e_john['text'])
# index_value = {i[1]:i[0] for i in v.vocabulary_.items()}

# fully_index=[]

# for row in transormed:    
#     fully_index.append({index_value[column]:value for (column,value) in zip(row.indices,row.data)})

# e_john['tf_idf'] = fully_index
# e_tf=pd.json_normalize(e_john['tf_idf']).unstack()
# # e_tf=e_tf.unstack()
# e_tf=pd.DataFrame(e_tf,columns=['1'])
# e_tf=e_tf.reset_index()
# e_tf.columns=['word','1','tf-idf']
# e_tf=e_tf.drop(["1"],axis=1)
# e_tf.sort_values("tf-idf",ascending=False).head(3)

<ipython-input-28-af35a3314e0c>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  e_john['tf_idf'] = fully_index

    word    tf-idf
195  the  0.563848
191   in  0.375898
230  and  0.313249

## k means clustring

In [ ]:
from sklearn.cluster import k_means